.bg-orange-gradient {
  background-image: -webkit-linear-gradient(0deg, #fabf36 0%, #eda04d 100%);
  background-image: -ms-linear-gradient(0deg, #fabf36 0%, #eda04d 100%);
}

.bg-green-gradient {
  background-image: -webkit-linear-gradient(0deg, #fbb640 0%, #6cc025 0%, #f3ba43 100%);
  background-image: -ms-linear-gradient(0deg, #fbb640 0%, #6cc025 0%, #f3ba43 100%);
}

.bg-red-gradient {
  background-image: -webkit-linear-gradient(0deg, #6cc025 0%, #ec2328 0%, #f3ba43 100%);
  background-image: -ms-linear-gradient(0deg, #6cc025 0%, #ec2328 0%, #f3ba43 100%);
}

.bg-blue-gradient {
  background-image: -webkit-linear-gradient(0deg, #6cc025 0%, #23e5ec 0%, #f3ba43 100%);
  background-image: -ms-linear-gradient(0deg, #6cc025 0%, #23e5ec 0%, #f3ba43 100%);
}
